<%= form_for(@meter_reading) do |f| %>
  <% if @meter_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meter_reading.errors.count, "error") %> prohibited this meter_reading from being saved:</h2>

      <ul>
      <% @meter_reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :meter %><br />
    <%= f.text_field :meter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
